<div class="container">
  <div class="user-info-section">
      <div class="info-section">
        <div class="username">
            {{userInformation.username}}
        </div>
        <div class="email">
            {{userInformation.email}}
        </div>
        <div class="reputation">
            {{userInformation.reputation}}
        </div>
      </div>

      <div class="statistic-section">
        <div class="question-number">
            {{userQuestions?.length || '0'}}
        </div>
        <div class="answer-number">
            {{userAnswers?.length || '0'}}
        </div>
      </div>
  </div>

  <div *ngFor="let question of userQuestions" class="question-section">
    <div class="question-score">
        {{question.score}}
    </div>
    <div class="question-title">
        {{question.title}}
    </div>
    <div class="question-timestamp">
        {{question.timestamp}}
    </div>
  </div>

  <div *ngFor="let answer of userAnswers" class="answer-section">
    <div class="answer-score">
        {{answer.score}}
    </div>
    <div class="answer-title">
        {{answer.title}}
    </div>
    <div class="answer-timestamp">
        {{answer.timestamp}}
    </div>
  </div>
</div>