.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.question-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5%;
}

.question-score-section{
    width: 10%;
}

.question-text-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
}

.question-title,
.question-body,
.question-user {
    margin-bottom: 2%;
}

.question-delete {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.accepted-answer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.accepted-answer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.answer-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}

.answer-score-section {
    width: 10%;
}

.answer-text-section {
    width: 80%;
}

.answer-accept {
    width: auto;
}