<div class="container">
  <div class="question-section">
    <div class="question-score-section">
      <button class="question-vote" (click)="upvoteQuestion()">
        ^
      </button>
      <div class="question-score">
        {{question.score}}
      </div>
      <button class="question-vote" (click)="downvoteQuestion()">
        v
      </button>
    </div>
    <div class="question-text-section">
      <div class="question-title">
        {{question.title}}
      </div>
      <div class="question-body">
        {{question.body}}
      </div>
      <div class="question-user">
        {{question.username}}
      </div>
    </div>
    <div class="question-delete">
      <button class="question-delete-button" (click)="deleteQuestion()">
        Delete question
      </button>
    </div>
  </div> 

  <div *ngIf="acceptedAnswer" class="accepted-answer"> <!--If exist-->
    <h3>Accepted Answer</h3>
    <div class="accepted-answer-section">
      <div class="answer-score-section">
        <button class="answer-vote" (click)="upvoteAnswer(acceptedAnswer.id)">
          ^
        </button>
        <div class="answer-score">
          {{acceptedAnswer.score}}
        </div>
        <button class="answer-vote" (click)="downvoteAnswer(acceptedAnswer.id)">
          v
        </button>
      </div>
      <div class="answer-body">
        {{acceptedAnswer.body}}
      </div>
      <div class="answer-user">
        {{acceptedAnswer.user}}
      </div>
      <div class="answer-timestamp">
        {{acceptedAnswer.timestamp}}
      </div>
    </div>
  </div>

  <div *ngFor="let answer of answers" class="answer-section">
    <div *ngIf="!acceptedAnswer || answer.id !== acceptedAnswer.id" class="answer-score-section">
      <button class="answer-vote" (click)="upvoteAnswer(answer.id)">
        ^
      </button>
      <div class="answer-score">
        {{answer.score}}
      </div>
      <button class="answer-vote" (click)="downvoteAnswer(answer.id)">
        v
      </button>
    </div>
    <div *ngIf="!acceptedAnswer || answer.id !== acceptedAnswer.id" class="answer-text-section">
      <div class="answer-body">
        {{answer.body}}
      </div>
      <div class="answer-user">
        {{answer.user}}
      </div>
      <div class="answer-timestamp">
        {{answer.timestamp}}
      </div>
    </div>
    <div *ngIf="!acceptedAnswer || answer.id !== acceptedAnswer.id" class="answer-accept">
      <button class="answer-accept-button" (click)="acceptAnswer(answer.id)">
        Accept Answer
      </button>
    </div>
  </div>

  <form [formGroup]="newAnswerForm" (ngSubmit)="addAnswerSubmit()" class="answer-form">
      <div class="form-group">
          <label for="body">Answer</label>
          <input type="text" id="body" required formControlName="body" name="body">
      </div>
      
      <button type="submit">Submit answer</button>
  </form>
</div>