/* You can add global styles to this file, and also import other style files */
*, html {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgba(0, 0, 0, .15);
}

a {
    text-decoration: none;
    color: skyblue;
}